@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome@(ViewBag.Login != null ? $", {ViewBag.Login}!" : "")</h1>
    <p>This is a social network.</p>
</div>
