@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["HOME_PAGE"];
}

<div class="text-center">
    <h1 class="display-4">@(Localizer["WELCOME"])@(ViewBag.Login != null ? $", {ViewBag.Login}!" : "")</h1>
    <p>@Localizer["WELCOME_TEXT"]</p>
</div>
