@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PRIVACY_POLICY"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["PRIVACY_TEXT"]</p>
