
<h5 class="mb-0">Add Friend</h5>
<div class="row">
    <div class="col-4">
        <form class="">
            <div class="form-group">
                <label for="login" class="control-label"></label>
                <input id="loginInput" name="login" class="form-control" required />
            </div>
            <div class="form-group">
                <button id="addFriendButton" class="btn btn-primary" type="button">Add</button>
            </div>
        </form>
    </div>
</div>

<h4 class="mt-4">Friend List</h4>
<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="userTableBody">
    </tbody>
</table>

<script src="js/friends.js"></script>