
<h5 class="mb-0">Add Friend</h5>
<div class="row">
    <div class="col-4">
        <form class="">
            <div class="form-group">
                <label for="login" class="control-label"></label>
                <input id="loginInput" name="login" class="form-control" required />
            </div>
            <div class="form-group">
                <button id="addFriendButton" class="btn btn-primary" type="button">Add</button>
            </div>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 col-md-6 col-lg-4">
        <h5>Import Friends List</h5>
        <form asp-controller="Friends" asp-action="Import" method="post" enctype="multipart/form-data">
            <label for="importFile">Select a file:</label>
            <input type="file" id="importFile" name="importFile" required>
            <button type="submit" class="btn btn-primary">Import</button>
        </form>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <h5>Export Friends List</h5>
        <form asp-controller="Friends" asp-action="Export" method="get">
            <button type="submit" class="btn btn-primary">Export</button>
        </form>
    </div>
</div>

<h4 class="mt-4">Friends List</h4>
<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="userTableBody">
    </tbody>
</table>

<script src="js/friends.js"></script>